$darkgrey: #2c2635;
$lightgrey: #c7c7c7;
$blue: #6369d1;
$green: #3bedba;

body {
  background-color: $darkgrey;
  color: #d8d8d8 !important;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  padding: 5px;
  border: none;
  //box-shadow: inset 0px 0px 40px 40px $darkgrey !important;
}
.tabs a {
  color: $lightgrey !important;
}

ul,
.navbar-burger {
  color: $lightgrey !important;
  text-align: left;
  li {
    list-style-type: circle;
  }
}

#logo {
  width: 180px;
  height: 100%;
  opacity: 0.8;
}

#logo:hover {
  opacity: 0.65;
}

.pic {
  width: 100%;
  height: auto;
}

.projectpic {
  width: 140%;
  height: auto;
}

.contactpic {
  width: 120%;
  height: auto;
}

@media all and (max-width: 480px) {
  .pic,
  .contactpic,
  .projectpic {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.navbar-burger {
  background: transparent;
  border: none;
}

.navbar-item,
.navbar-link {
  color: $lightgrey !important;
}

#onlineCV {
  color: $green !important;
}

#onlineCV:hover {
  color: #e96a70 !important;
}

#name {
  color: $green;
}

#title {
  color: $blue;
}

#skills {
  color: $blue;
}

#projects {
  color: $green;
}

#contact {
  color: $blue;
}

.tabs {
  a {
    &.navActive {
      color: $green !important;
      border-bottom-color: $blue;
    }
    &:hover,
    &:active {
      color: #d8656f !important;
      border-bottom-color: #8d2c34 !important;
    }
  }
}

@media only screen and (max-width: 1088px) {
  .hero-head {
    &.is-active {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: $lightgrey;
      color: $darkgrey;
      z-index: 10000;
      .tabs ul {
        display: block;
      }
    }
  }
}
